@charset "utf-8";
@font-face {
    font-family: 'DB Wittayu X';
    src: url(../fonts/DB Wittayu X.ttf)format('truetype');
}
@font-face {
    font-family: 'DB Wittayu X Italic';
    src: url(../fonts/DB Wittayu X Italic.ttf) format('truetype');
}
@font-face {
    font-family: 'DB Wittayu X Bd';
    src: url(../fonts/DB Wittayu X Bd.ttf) format('truetype');
}
@font-face {
    font-family: 'DB Wittayu X BdIt';
    src: url(../fonts/DB Wittayu X BdIt.ttf) format('truetype');
}
/* CSS Document */
body{ margin:0; padding:0; font:13px normal Arial, Helvetica, sans-serif; background:#fff; color:#000;}
img{ border:0;}
a{ color:#6d4886;}
a:hover{ color:#000; text-decoration:none;}
h1{font-family: 'DB Wittayu X'; font-weight: normal; color:#000; font-size:1.6em; margin:0; padding:0;}
h2{font-family: 'DB Wittayu X'; font-weight: normal; color:#000; font-size:1.4em; margin:0; padding:0;}
#menu{ width:100%; position:relative; z-index:3; margin:0 auto; padding:0;}
#menu ul{  
    width: 100%;
    list-style: none;
    /* padding: 50px 0 0 280px; */
    text-align: right;
    margin: 0;
    /* float: right; */
    color: #6d4886;
    font: normal 16px Arial, Helvetica, sans-serif;
    position: absolute;
    padding-left: 449px;
    padding-top: 48px;
}
#menu li{display:block; float:left; padding:0 0 0 60px; margin:0 auto; text-align:center;}
#menu li a{ color:#6d4886; text-decoration:none;}
#menu li a:hover{ color:#fff; text-decoration:none;}
#menu li.active a,#menu li a:hover{ color:#cb76c9; border-bottom:2px solid #cb76c9; padding:0 0 10px 0;}
#slide{ width:100%; position:relative; z-index:0; margin:0; margin:0;}
#contant{ clear:both; width:960px; margin:0 auto; padding:0; position:relative; z-index:1;}
.txtcontant{ position:relative; z-index:2; width:960px; margin:-150px 0 0 0; padding:0;}
.txtcontantabout{ position:relative; z-index:2; width:940px; background:url(images/bglefttxtcontant.png) left top repeat; margin:-150px 0 0 0; padding:10px;}
.txtcontantserviec{ position:relative; z-index:2; width:960px; background:url(images/bglefttxtcontant.png) left top repeat; margin:-150px 0 0 0; padding:0;}
.lefttxtcontant{ float:left; width:633px; background:url(images/bglefttxtcontant.png) left top repeat; height:152px; padding:10px;}
.lefttxtcontantleft{ float:left; width:633px; background:url(images/bglefttxtcontant.png) left top repeat; height:152px; padding:10px;}
.lefttxtcontantleftserviec{ padding:0 0 0 10px;  float:left; width:630px;}
.lefttxtcontantleftserviec h1{font-family: 'DB Wittayu X'; font-weight: normal; color:#000; font-size:1.6em; margin:0; padding:10px 0 0 0;}
.righttxtcontantserviec ul{ padding:10px 0 0 25px; margin:0;}
.righttxtcontantserviec li{ padding:0; margin:0; text-align: left; color:#c77dc3;}
.righttxtcontantserviec li a{color:#c77dc3; text-decoration:none;}
.righttxtcontantserviec li a:hover{color:#000;}
.lefttxtcontant{ color:#fff;}
.righttxtcontant{ float:right;}
.righttxtcontantserviec{ float:right; width:287px; padding:10px; background:#673876;}
.lefttxtcontantleftserviec ul{ width:100%; list-style:none; padding:50px 0 0 0; margin:0;}
.lefttxtcontantleftserviec li{ width:280px; display:block; float:left; padding:0 10px; margin:0; text-align:center;}
.clear{ clear:both;}
#footer{ clear:both; width:960px; margin:0 auto; padding:10px 0 0 0; color:#b2b2b2; position:relative; z-index:10; border-top:1px dotted #6600CC;}
.footerleft{ width:85%; float:left;}
.footerleft p{ padding:3px 0; margin:0;}
.footerright{ width:15p%; float:right;}